* {
    margin: 0px;
}

html {
    font-size: 16px;
}

.hide {
    display: none;
}

body {
    background-color: #deefb7;
}

header {
    padding: 1em 0;
    border-bottom: 1px solid #275347;
}

h1 {
    font-size: 3.5rem;    
}

h1,
h2 {
    color: #275347;
}

.header-top,
.header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.header-divider {
    width: 100%;
    height: 1px;
    background-color: #275347;
    margin: 1em 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 80%;

}

header button {
    padding: 0.5rem 1rem;
    border-radius: 10% 50%;
    background-color: #83d89e;
    border: none;
    color: white;
    font-variant: small-caps;
    font-weight: 700;
    font-size: 1rem;
}

header button:hover {
    cursor: pointer;
    background-color: #275347;
}

header i {
    color: white;
}

dialog {
    margin: auto;
}

/***.modal-close,
.modal-close-edit {
    display: block;
    width: 100%;
    text-align: right;
    cursor: pointer;
}***/

form {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

input {
    margin-bottom: 0.4em;
}

/***main {
    width: 100%;
}***/

.proj-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 0px;
}

.task-container {
    width: 100%; 
}

.task-card {
    width: 90%;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 4fr 3fr 1fr 1fr 1fr;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: white;
    border-radius: 0.5rem;
    border-left: 5px solid #275347;
    box-shadow: 3px 3px 5px gray;
}
.task-card p {
    place-self: center;
}

.task-card button {
    place-self: center;
}

.item-one {
    grid-area: 1 / 1 / 2 / 2;
    place-self: center;
    width: 0.5rem;
    padding-bottom: 0.5rem;
}

.check-box {
    text-decoration: line-through;
}

button {
    background-color: white;
    border-color: #275347;
}

button:hover {
    cursor: pointer;
    background-color: #deefb7;
    border-color: #deefb7;
}

