* {
    margin: 0px;
}

html {
    font-size: 16px;
}
.hide {
    display: none;
}

body {
    background-color: aquamarine;
}

header {
    padding: 1em 0;
    border-bottom: 1px solid black;
}
.header-top,
.header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.header-divider {
    width: 100%;
    height: 1px;
    background-color: black;
    margin: 1em 0;
}

nav {
    display: flex;
    justify-content: space-evenly;
    width: 80%;

}

dialog {
    margin: auto;
}

/***.modal-close,
.modal-close-edit {
    display: block;
    width: 100%;
    text-align: right;
    cursor: pointer;
}***/

form {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

input {
    margin-bottom: 0.4em;
}

/***main {
    width: 100%;
}***/

.task-container {
    width: 100%
}

.task-card {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 4fr 3fr 1fr 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    background-color: aliceblue;
}

.check-box {
    text-decoration: line-through;
}