* {
    margin: 0px;
}

html {
    font-size: 16px;
}

body {
    background-color: #cfdcbc;
}

.hide {
    display: none;
}

header {
    padding: 1em 0;
    border-bottom: 1px solid #275347;
}

h1 {
    font-size: 3.5rem;    
}

h1,
h2 {
    color: #275347;
}

.header-top,
.header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 1em;
}

.header-divider {
    width: 100%;
    height: 1px;
    background-color: #275347;
    margin: 1em 0;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
    width: 90%;
}

header button {
    padding: 0.5rem 0.5rem;
    border-radius: 10% / 50%;
    background-color: #0c3746 ;
    border: none;
    color: white;
    font-variant: small-caps;
    font-weight: 800;
    font-size: 1rem;
}

header button:hover {
    cursor: pointer;
    background-color: #275347;
}

header i {
    color: white;
}

h1 i {
    color: #275347;
}

dialog {
    margin: auto;
    border: none;
    font-variant: small-caps;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
}

input {
    margin-bottom: 0.4em;
}

select,
input[type="date"],
input[type="radio"] {
    cursor: pointer;
}

form input:focus,
form select:focus {
    background-color: #cfdcbc;
}

form input,
form select {
    background-color: #e4e3d3;
}

#low,
.low {
    accent-color: rgb(61, 122, 61);
    background-color: rgb(61, 122, 61);
}
#mid,
.mid {
    accent-color: rgb(192, 192, 79);
    background-color: rgb(192, 192, 79);
}
#high,
.high {
    accent-color: rgb(158, 61, 61);
    background-color: rgb(158, 61, 61);
}

.proj-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 0px;
}

.task-container {
    width: 100%; 
}

dialog,
.task-card {
    background-color: #e4e3d3;
    border-radius: 0.5rem;
    border-left: 5px solid #275347;
    box-shadow: 3px 3px 5px  black;
}

.task-card {
    width: 90%;
    margin: 1rem auto;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 4fr 3fr 1fr 1fr 1fr;
    gap: 0.5rem;  
}

.task-card p,
.task-card button {
    place-self: center;
}

.item-one {
    grid-area: 1 / 1 / 2 / 2;
}

.check-size {
    width: 1rem;
    height: 1rem;
}

.check-box {
    text-decoration: line-through;
}

button {
    background-color: #e4e3d3;
    border-color: #275347;
    border-radius: 0.5rem;
}

button:hover {
    cursor: pointer;
    background-color: #cfdcbc;
    border-color: #cfdcbc;
}

.priority {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 50%;
}

@media (min-width: 768px) {
    nav {
        justify-content: space-around;
        width: 80%;
    }
}
